<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>18/10/11 17:28:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AdminTest.InicializarDriver()[pri:0, instance:hola.Examen.AdminTest@7cd62f43]">&gt;&gt;InicializarDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/10/11 17:28:40</td>   <td>6918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminTest.InicioSesionYCreacionDeUsuario()[pri:0, instance:hola.Examen.AdminTest@7cd62f43]">InicioSesionYCreacionDeUsuario</td> 
  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/10/11 17:28:47</td>   <td>14229</td> <td>&nbsp;</td><td title="&lt;&lt;AdminTest.CerrarDriver()[pri:0, instance:hola.Examen.AdminTest@7cd62f43]">&lt;&lt;CerrarDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
</table>
